body {
	color: #000;
	max-width: 1600px;
    margin: auto;
}

img {
	max-height: 250px;
	width: auto;
	height: auto;
	margin-left: 5px;
	border-radius: 8px;
}

#deck {
	margin-right: 40px;
}

#hand, #deck, #stackfield, #stack, #stackhand, .combatfield, #life, #life2 {
	display: inline-block;
}

#lands, #creatures, #lands2, #creatures2, #lands3, #creatures3, #lands4, #creatures4 {
	min-height: 250px;
	text-align: center;
	padding-bottom: 10px;
}

#attack3, #attack4 {
	text-align: center;
	min-height: 200px;
}

#landDescr, #costDescr, #summonDescr, #turn2 {
	display: none;
}

.cost{
	height:20px;
}

.battlefield {
	background-color: #DCDCDC;
	padding-top: 10px;
	margin-top: 15px;
}

.label {
	font-size: 40px;
	padding-left: 10px;
	color: #808080;
}

.battlefield img{
	margin-left: 20px;
}

#pass, .bear {
	color: #228b22;
	font-weight: bold;
}

#pass {
	text-decoration: underline;
}

.minotaur {
	color: #cd0000;
	font-weight: bold;
}

#pass:hover, #deck:hover, #hand:hover, #lands:hover {
	cursor: pointer;
}

#stackfield, .combatfield {
	width: 68%;
	min-width: 200px;
}

#stack, #life, #life2 {
	width: 30%;
	vertical-align: top;
	position: relative;
	height: 550px;
	padding: 20px;
}

#stack div, #stack img{
	text-align: center;
	position: absolute;
}

#blossom {
	bottom: 0;
}

#base {
	border-top: 5px solid black;
	bottom: 300px;
	width: 80%;
}

#doomstack {
    bottom: 325px;
	width: 50%;
}

#next {
	display: block;
}

#spells {
	margin-bottom: 20px;
}

.arrow {
	max-height: 100px;
	width: auto;
	height: auto;
}

#attack3 img, #attack4 img {
	transform: rotate(90deg);
}

svg text {
	font-size: 36px;
}

#reset1, #reset2 {
	float: right;
	margin-right: 10px;
}